@using ImageReviewerAPIs.Models
@model List<UserImagePreference>
@{
    ViewBag.Title = "Preference History";
}
<h2>@ViewBag.Title</h2>
<br>
<table border="1" style="padding:20%">
    <thead>
        <tr>
            <th> Image </th>
            <th>Preference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td><img width="50%" src=@item.ImagePath /></td>
                <td><i class="@(item.Preference == true ? "fa fa-thumbs-up" : "fa fa-thumbs-down")"></i></td>
            </tr>
        }
    </tbody>
</table>